<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="120">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%t] %C:%L %msg%xEx%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
	</Appenders>
	<loggers>
		<root level="INFO">
			<appender-ref ref="Console" />
		</root>
		<logger name="cn.sunline" level="debug" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.hibernate" level="INFO" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.springframework" level="INFO" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<!-- <logger name="org.springframework.amqp.rabbit" level="INFO" additivity="false">
			<appender-ref ref="Console" />
		</logger> -->

		<!-- 显示sql -->
		<!-- <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"> -->
		<!-- <appender-ref ref="Console" /> -->
		<!-- </logger> -->
		<!-- 显示占位符参数 -->
		<!-- <logger name="org.hibernate.type" level="TRACE" additivity="false"> -->
		<!-- <appender-ref ref="Console" /> -->
		<!-- </logger> -->

		<!-- <logger name="org.apache.jasper.compiler.TldLocationsCache" level="FINE" additivity="false"> <appender-ref ref="Console" /> </logger> -->
	</loggers>
</Configuration>